@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap");

@font-face {
  font-family: "Typographer-Subway-Black";
  src: url("../fonts/Typographer-Subway-Black.ttf.woff") format("woff"),
    url("../fonts/Typographer-Subway-Black.ttf.svg#Typographer-Subway-Black")
      format("svg"),
    url("../fonts/Typographer-Subway-Black.ttf.eot"),
    url("../fonts/Typographer-Subway-Black.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: rgb(243, 4, 7);
  --white: #fff;
  --black: #000;
  --subway-black: "Typographer-Subway-Black";
  --rubik: "Rubik Mono One", sans-serif;
  --exo2: "Exo 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #111;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

.header {
  z-index: 10;
}

.navbar-dark .navbar-toggler {
  border: none;
  background-color: black;
  padding: 8px;
  border-radius: 50%;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.jarallax {
  overflow-x: hidden;
}

/* .banner-section {
  background-image: url(../imgs/banner\ img.jpeg);
  z-index: -5;
  background-size: cover;
  filter: brightness(1.45);
  -webkit-filter: brightness(1.45);
} */

.banner-section .banner-img {
  filter: grayscale(1);
  object-position: 50% 40% !important;
  -webkit-filter: grayscale(1);
}

.active-link {
  color: var(--red) !important;
}

.navbar-nav .nav-item a.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  color: white;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: var(--red);
}

.banner-section .text-layer {
  user-select: none;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  /* background-color: rgba(1, 57, 121, 0.2); */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px;
}
.top-text h3 {
  position: relative;
  top: 10px;
}

.top-text h3,
.bottom-text h3 {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.middle-text {
  height: fit-content;
}

.middle-text img {
  width: 600px;
}

.bottom-text img {
  width: 265px;
}

.ilona-tv {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-layer .middle-text h1 {
  font-size: 8.6rem;
  text-transform: uppercase;
  text-shadow: 8px 7px black;
}

.text-layer .middle-text .tv {
  font-family: var(--rubik);
  position: relative;
  z-index: -1;
  top: 120px;
  left: 30px;
}

.text-layer .middle-text .ilona {
  font-family: var(--subway-black);
  color: var(--red);
}

.bottom-text h2 {
  font-size: 3.15rem;
}

.bio-section {
  padding: 50px 0 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.bio-section .jarallax-img {
  filter: grayscale(1);
  object-position: 50% 2% !important;
  -webkit-filter: grayscale(1);
}

/* .bio-section .bio-text .name {
  display: flex;
  flex-direction: column;
} */

/* .bio-section .bio-text span {
  margin-top: 50px;
  color: var(--red);
  font-family: "Gill Sans MT", sans-serif;
  font-weight: 800;
  font-size: 6.2rem;
  line-height: 5.2rem;
  padding-left: 80px;
} */

/* .bio-text .about-text {
  padding: 0 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
} */

.bio-section .bio-text {
  padding: 0 25px 0 0;
  color: var(--white);
  font-size: 1.4rem;
}

.bio-section .bio-text span {
  color: var(--red);
  font-weight: 800;
  font-size: 1.45rem;
}

.bio-section .bio-img {
  /* overflow: hidden; */
  /* padding: 10px; */
  width: 100%;
  align-items: center;
}

.bio-img img {
  position: relative;
  width: 100%;
  /* border: 10px solid var(--red);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; */
}

.social-media-links {
  margin-top: 30px;
}

/* .social-media-links .social-links {
  margin-top: -30px;
} */

.social-media-links .social-links a {
  color: var(--red);
  font-family: initial;
  font-size: 2.5rem;
  line-height: 2.2rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.social-media-links .social-links a:hover {
  color: white;
}

.social-media-links .social-links-icons {
  display: flex;
  justify-content: center;
}

.social-media-links .social-links-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #111;
  font-size: 1.2rem;
  line-height: 1rem;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.social-media-links .social-links-icons a:hover {
  background-color: var(--red);
  color: white;
}

.bio-section .networks-logos {
  background-color: rgb(205, 4, 8);
  padding: 20px 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.bio-section .networks-logos img {
  width: 100%;
}

.networks-logos .col-2 {
  display: flex;
  align-items: center;
}

/* Video Section */

.videos-section,
.guests-section {
  background-color: #111;
  overflow-x: hidden;
}

.videos-section .jarallax-img {
  opacity: 0.72;
}

.videos-section h2,
.guests-section h2 {
  border-bottom: 4px solid var(--red);
  padding: 5px 15px;
  width: fit-content;
  font-size: 3.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}

/* Guest section */

.guests-section {
  padding: 50px 0;
}

.guests-section .videos iframe {
  border: 2px solid transparent;
  transition: all 0.5s;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.guests-section .videos iframe:hover {
  border: 2px solid var(--red);
}

.guests-section .guest-gallery img {
  width: 100%;
}

.guest-gallery .row-2 {
  padding: 0 70px;
}

.guest-gallery .guests-imgs {
  padding: 0;
  cursor: pointer;
  margin-right: 18px;
  height: 175px;
  overflow: hidden;
  filter: grayscale(1) contrast(1.4);
  -webkit-filter: grayscale(1) contrast(1.4);
  transition: ease-out 0.4s;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  -ms-transition: ease-out 0.4s;
  -o-transition: ease-out 0.4s;
}

.guest-gallery .guests-imgs:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.guest-gallery .c-gap {
  column-gap: 50px;
}

/* footer */

footer {
  background-color: #4b4b4b;
  padding: 20px 0;
}

footer img {
  width: 25%;
}

footer p {
  margin-top: 20px;
  font-size: 1.1rem;
}

footer p a {
  color: var(--red);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

footer p a:hover {
  color: var(--white);
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .bottom-text img {
    width: 225px;
  }
  .bio-section .bio-text {
    margin-top: 50px;
    padding: 0 30px;
  }
  .guest-gallery .guests-imgs {
    height: 140px;
  }
  .guest-gallery .row-2 {
    padding: 0 12px;
  }
}

@media screen and (max-width: 540px) {
  .middle-text img {
    width: 100%;
  }
  .top-text h3,
  .bottom-text h3 {
    font-size: 1.3rem;
  }
  /* .text-layer .middle-text h1 {
    font-size: 4.6rem;
    line-height: 9.2rem;
  } */
  .bottom-text h2 {
    font-size: 1.6rem;
  }
  .bottom-text img {
    width: 125px;
  }
  .social-media-links {
    row-gap: 15px;
  }
  .social-media-links .social-links-icons a {
    font-size: 1rem;
    margin-right: 5px;
    width: 32px;
    height: 32px;
  }
  .social-media-links .social-links a {
    font-size: 2.4rem !important;
  }
  /* .bio-section .bio-text span {
    font-size: 1.9rem;
    margin-top: 0;
    padding: 0;
  } */
  /* .bio-text .about-text {
    margin-top: 10px;
  } */
  /* .bio-text .about-text span {
    font-size: 1.85rem;
    line-height: 2.3rem;
  } */
  .social-media-links .social-links a {
    font-size: 1.5rem;
  }
  .social-media-links .social-links {
    padding: 0 70px;
  }
  .videos-section h2,
  .guests-section h2 {
    font-size: 2.5rem;
  }
  .guests-section h2 {
    padding: 5px 0;
  }
  .guest-gallery .row {
    row-gap: 30px;
  }
  .guest-gallery h2 {
    margin-top: 20px;
    margin-bottom: 0;
    width: 340px;
  }
  .guest-gallery .guests-imgs {
    margin-right: 0;
    margin-top: 0;
  }
  .guest-gallery .row-2 {
    margin-top: 15px;
    padding: 0 60px;
  }
  footer img {
    width: 75%;
  }
  footer .col-6 {
    align-self: flex-end;
  }
}
